<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>pt</string>
	<key>CFBundleDisplayName</key>
	<string>MacMagazine</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>MacMagazine deseja ter acesso à sua câmera para prestar um serviço melhor para você.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>MacMagazine deseja ter acesso à sua localização para prestar um serviço melhor para você.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>MacMagazine deseja ter acesso à sua localização para prestar um serviço melhor para você.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>MacMagazine deseja ter acesso à sua biblioteca de fotos para prestar um serviço melhor para você.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MacMagazine deseja ter acesso à sua biblioteca de fotos para prestar um serviço melhor para você.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.brit.macmagazine.details</string>
	</array>
	<key>NSUserTrackingUsageDescription</key>
	<string>O MacMagazine gostaria da sua permissão para coletar dados a fim de apresentar publicidade mais adequada aos seus interesses.</string>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.brit.macmagazine.onesignal.push</string>
	<key>OneSignal_disable_badge_clearing</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrowshape.turn.up.left</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Voltar ao último post visualizado</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openLastSeenPost</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.plaintext</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Abrir o último post publicado</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openMostRecentPost</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Splash</string>
	<key>UIMainStoryboardFile</key>
	<string>Splash</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
