Carthage/
Docs/
.DS_Store
.build
.swiftpm
*.resolved
*.zip
build
.claude

## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.xcworkspace/xcshareddata

## User-specific Xcode files
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
**/xcuserdata/

Package.resolved
!*.xcodeproj/**/Package.resolved