<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrowshape.turn.up.left</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Voltar ao último post visualizado</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openLastSeenPost</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.plaintext</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Abrir o último post publicado</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openMostRecentPost</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Buscar nos posts</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openSearchPost</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>logo</string>
	</dict>
</dict>
</plist>
