<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OneSignal_app_groups_key</key>
	<string>group.com.brit.macmagazine.onesignal.push</string>
	<key>OneSignal_disable_swizzle</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>arrowshape.turn.up.left</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Voltar ao último post visualizado</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openLastSeenPost</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>doc.plaintext</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Abrir o último post publicado</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openMostRecentPost</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconSymbolName</key>
			<string>magnifyingglass</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Buscar nos posts</string>
			<key>UIApplicationShortcutItemType</key>
			<string>openSearchPost</string>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>audio</string>
		<string>fetch</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>logo</string>
	</dict>
</dict>
</plist>
